@tailwind base;
@tailwind components;
@tailwind utilities;

.backface-visible {
	backface-visibility: visible;
	-webkit-backface-visibility: visible;
	-moz-backface-visibility: visible;
	-ms-backface-visibility: visible;
}

.backface-hidden {
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
}

.rotate-y-180 {
	transform: rotateY(180deg);
}
